<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <main>
      <h2>All employees</h2>
      <table>
        <thead>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Department</th>
          <th>Salary (€)</th>
        </thead>
        <tbody>
          <% result.forEach(person => { %>
          <tr>
            <td><%= person.id %></td>
            <td><%= person.firstname %> <%= person.lastname %></td>
            <td><%= person.department %></td>
            <td><%= person.salary %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
